# Implement VAR to yahoo finance Week 1

In [1]:
import pandas as pd
import numpy as np

## Plotting
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from sklearn.metrics import mean_squared_error

from statsmodels.tsa.api import VAR
from statsmodels.tsa.stattools import acf, pacf, grangercausalitytests
from statsmodels.tsa.statespace.varmax import VARMAX

## Import TimeSeriesSplit
from sklearn.model_selection import TimeSeriesSplit

import yfinance as yf

from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.stattools import kpss

## def of prediction_class

In [2]:
def prediction_class(df):
    df['Prediction'] = np.where(df['Close'] < df['Close'].shift(-1), 1, 0)
    return df

## Import from Yahoo Finance

In [3]:
Ford = yf.download('F', period="3mo")

[*********************100%***********************]  1 of 1 completed

In [4]:
Ford['change_in_price'] = Ford['Close'].diff()
Ford

             Open   High    Low  Close  Adj Close     Volume  change_in_price
Date
2024-08-09  10.08  10.17   9.97  10.10   9.964611   48860800              NaN
2024-08-12  10.10  10.10   9.84   9.86   9.727828   56118700        -0.240001
2024-08-13   9.92  10.15   9.77  10.14  10.004075   44766100         0.280001
2024-08-14  10.16  10.24  10.05  10.18  10.043539   37026400         0.040000
2024-08-15  10.37  10.50  10.37  10.46  10.319785   41597900         0.280000
...           ...    ...    ...    ...        ...        ...              ...
2024-11-04  10.23  10.57  10.23  10.36  10.221126   55323800         0.139999
2024-11-05  10.33  10.64  10.30  10.60  10.457909   49309000         0.240001
2024-11-06  10.95  11.23  10.84  11.19  11.039999  100781800         0.589999
2024-11-07  11.01  11.11  10.83  10.96  10.960000   55329600        -0.230000
2024-11-08  10.93  10.97  10.86  10.97  10.970000   42822846         0.010000

[65 rows x 7 columns]

In [5]:
Toyota = yf.download('TM', period="3mo")
Toyota['change_in_price'] = Toyota['Close'].diff()

[*********************100%***********************]  1 of 1 completed

## Split the data

In [6]:
df_F_test = Ford[-5:].copy()
df_F_test

             Open   High    Low  Close  Adj Close     Volume  change_in_price
Date
2024-11-04  10.23  10.57  10.23  10.36  10.221126   55323800         0.139999
2024-11-05  10.33  10.64  10.30  10.60  10.457909   49309000         0.240001
2024-11-06  10.95  11.23  10.84  11.19  11.039999  100781800         0.589999
2024-11-07  11.01  11.11  10.83  10.96  10.960000   55329600        -0.230000
2024-11-08  10.93  10.97  10.86  10.97  10.970000   42822846         0.010000

In [8]:
df = pd.concat([Ford['change_in_price'][: -5], Toyota['change_in_price'][: -5]], axis = 1)

In [9]:
df.columns = ['F_change_in_price', 'TM_change_in_price']

In [10]:
df

            F_change_in_price  TM_change_in_price
Date
2024-08-09                NaN                 NaN
2024-08-12          -0.240001           -0.619995
2024-08-13           0.280001            4.419998
2024-08-14           0.040000            4.619995
2024-08-15           0.280000            4.779999
2024-08-16           0.050000            0.880005
2024-08-19           0.210000            1.029999
2024-08-20          -0.040000           -2.360001
2024-08-21           0.170000            2.279999
2024-08-22           0.070000           -2.119995
2024-08-23           0.350000            3.589996
2024-08-26          -0.160001           -4.519989
2024-08-27           0.030001            5.179993
2024-08-28          -0.100000            1.919998
2024-08-29           0.070000            0.100006
2024-08-30           0.080000            2.029999
2024-09-03          -0.210000           -3.650009
2024-09-04          -0.030000           -1.439987
2024-09-05          -0.179999           -1.910004
2024-09-06          -0.190001           -5.620010
2024-09-09           0.080000           -1.099991
2024-09-10          -0.340000           -1.900009
2024-09-11           0.130000            0.510010
2024-09-12           0.170000            1.489990
2024-09-13           0.070000           -0.789993
2024-09-16           0.110001            0.839996
2024-09-17           0.099999           -3.080002
2024-09-18           0.080000            3.560013
2024-09-19          -0.059999            6.759995
2024-09-20          -0.040000            0.600006
2024-09-23           0.030000            1.329987
2024-09-24          -0.040000           -1.869995
2024-09-25          -0.450000            0.630005
2024-09-26           0.260000            5.199997
2024-09-27           0.099999           -6.539993
2024-09-30          -0.219999           -4.250000
2024-10-01           0.190000           -0.510010
2024-10-02          -0.270000            2.440002
2024-10-03          -0.030000           -4.330002
2024-10-04           0.120000            3.850006
2024-10-07          -0.080000           -2.699997
2024-10-08           0.000000           -1.560013
2024-10-09           0.130000           -1.769989
2024-10-10           0.060000            0.360001
2024-10-11           0.040000           -0.290009
2024-10-14           0.200000            1.040009
2024-10-15          -0.080000           -5.550003
2024-10-16           0.190000            1.949997
2024-10-17           0.040000           -0.300003
2024-10-18           0.030001            0.330002
2024-10-21          -0.220000           -2.360001
2024-10-22           0.230000            0.759995
2024-10-23          -0.049999            1.400009
2024-10-24           0.179999           -0.900009
2024-10-25          -0.170000            1.570007
2024-10-28           0.300000            4.630005
2024-10-29          -0.960000           -0.600006
2024-10-30           0.060000           -0.819992
2024-10-31          -0.180000           -2.190002
2024-11-01          -0.070000           -0.190002

## Apply VAR model

In [12]:
model = VAR(df.dropna())
results = model.fit(22)
predictions = results.forecast(df.values[-22:], steps=5)[:, 0]

C:\Users\teres\anaconda3\envs\equity_vs_commodity\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)

In [13]:
predictions

array([-0.351018  , -0.08111572, -0.54356562,  0.08491384,  0.13430611])

In [14]:
df_F_test

             Open   High    Low  Close  Adj Close     Volume  change_in_price
Date
2024-11-04  10.23  10.57  10.23  10.36  10.221126   55323800         0.139999
2024-11-05  10.33  10.64  10.30  10.60  10.457909   49309000         0.240001
2024-11-06  10.95  11.23  10.84  11.19  11.039999  100781800         0.589999
2024-11-07  11.01  11.11  10.83  10.96  10.960000   55329600        -0.230000
2024-11-08  10.93  10.97  10.86  10.97  10.970000   42822846         0.010000

In [15]:
accuracy_TM = sum(predictions*df_F_test['change_in_price'] > 0)/5

In [16]:
accuracy_TM

0.2