### This jupyter notebook is to test the yahoo finance

In [1]:
import yfinance as yf

In [2]:
import torch

In [3]:
from pandas_datareader import data as pdr

In [4]:
aapl = yf.Ticker("AAPL")

## aapl.history: get historical market data

In [5]:
# Valid options for "period": 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo, 1y, 2y, 
# 5y, 10y and ytd.

In [6]:
aapl.history(period="1y")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-10-05 00:00:00-04:00,172.905208,174.556760,171.800858,174.019516,48527900,0.0,0.0
2023-10-06 00:00:00-04:00,172.915164,177.083834,172.298310,176.586380,57224100,0.0,0.0
2023-10-09 00:00:00-04:00,175.909856,178.138458,174.905004,178.078766,42390800,0.0,0.0
2023-10-10 00:00:00-04:00,177.193295,178.805042,177.044049,177.481812,43698000,0.0,0.0
2023-10-11 00:00:00-04:00,177.292768,178.934377,176.695832,178.884628,47551100,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-30 00:00:00-04:00,230.039993,233.000000,229.649994,233.000000,54541900,0.0,0.0
2024-10-01 00:00:00-04:00,229.520004,229.649994,223.740005,226.210007,63285000,0.0,0.0
2024-10-02 00:00:00-04:00,225.889999,227.369995,223.020004,226.779999,32880600,0.0,0.0
2024-10-03 00:00:00-04:00,225.139999,226.809998,223.320007,225.669998,34044200,0.0,0.0
2024-10-04 00:00:00-04:00,227.899994,228.000000,224.130005,226.800003,37245100,0.0,0.0

## Multiple tickers

In [7]:
tickers = yf.Tickers('msft aapl goog')

In [8]:
### Access the ticker
tickers.tickers['GOOG'].history(period='1y')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-10-05 00:00:00-04:00,135.796517,136.165605,134.125617,135.656860,15922900,0.0,0.0
2023-10-06 00:00:00-04:00,134.609428,138.845029,134.609428,138.390137,20819300,0.0,0.0
2023-10-09 00:00:00-04:00,137.651954,139.627099,136.365105,139.158249,16599100,0.0,0.0
2023-10-10 00:00:00-04:00,139.168232,140.395229,138.090876,138.858994,19554900,0.0,0.0
2023-10-11 00:00:00-04:00,139.507401,141.871590,139.497416,141.352859,20146300,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-30 00:00:00-04:00,164.779999,167.360001,164.639999,167.190002,14070100,0.0,0.0
2024-10-01 00:00:00-04:00,168.860001,170.440002,165.899994,168.419998,18629500,0.0,0.0
2024-10-02 00:00:00-04:00,167.759995,168.880005,166.250000,167.309998,12745000,0.0,0.0
2024-10-03 00:00:00-04:00,165.820007,167.910004,165.369995,167.210007,11004300,0.0,0.0
2024-10-04 00:00:00-04:00,169.339996,169.550003,166.960007,168.559998,11422100,0.0,0.0

## Reading commodities into python with yahoo finance

In [9]:
gold = yf.download('SB=F', '2020-03-23')

[*********************100%***********************]  1 of 1 completed

In [10]:
gold

                 Open       High        Low      Close  Adj Close  Volume
Date
2020-03-23  10.770000  11.150000  10.720000  11.040000  11.040000   61105
2020-03-24  11.230000  11.550000  11.210000  11.270000  11.270000   57007
2020-03-25  11.420000  11.680000  11.310000  11.410000  11.410000   66503
2020-03-26  11.520000  11.590000  11.260000  11.330000  11.330000   56157
2020-03-27  11.330000  11.450000  11.060000  11.100000  11.100000   59088
...               ...        ...        ...        ...        ...     ...
2024-09-30  22.700001  22.840000  22.100000  22.670000  22.670000   64473
2024-10-01  22.500000  23.070000  22.240000  22.969999  22.969999   55549
2024-10-02  23.000000  23.170000  22.459999  22.680000  22.680000   48872
2024-10-03  22.540001  23.340000  22.389999  23.240000  23.240000   56050
2024-10-04  23.299999  23.450001  22.730000  23.010000  23.010000   44713

[1144 rows x 6 columns]

In [11]:
oil = yf.download('CL=F', '2020-03-23')
oil

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
2020-03-23  22.520000  24.070000  20.799999  23.360001  23.360001  852951
2020-03-24  23.870001  25.160000  23.090000  24.010000  24.010000  659697
2020-03-25  24.370001  25.240000  22.910000  24.490000  24.490000  618725
2020-03-26  24.250000  24.650000  22.379999  22.600000  22.600000  633877
2020-03-27  23.290001  23.440001  20.879999  21.510000  21.510000  603124
...               ...        ...        ...        ...        ...     ...
2024-10-01  68.410004  71.940002  66.330002  69.830002  69.830002  668216
2024-10-02  70.800003  72.489998  69.870003  70.099998  70.099998  429225
2024-10-03  70.980003  74.089996  70.519997  73.709999  73.709999  460554
2024-10-04  73.949997  75.570000  73.459999  74.379997  74.379997  460554
2024-10-07  74.400002  74.470001  73.620003  74.180000  74.180000   23762

[1144 rows x 6 columns]

## Some commodity tickers

- gold: SB=F
- Crude Oil: CL=F
- Silver: XAG=