# Random Forests in trading

In [1]:
import yfinance as yf

In [2]:
gold = yf.download('SB=F', '2020-03-23')

[*********************100%***********************]  1 of 1 completed

In [3]:
gold

                 Open       High        Low      Close  Adj Close  Volume
Date
2020-03-23  10.770000  11.150000  10.720000  11.040000  11.040000   61105
2020-03-24  11.230000  11.550000  11.210000  11.270000  11.270000   57007
2020-03-25  11.420000  11.680000  11.310000  11.410000  11.410000   66503
2020-03-26  11.520000  11.590000  11.260000  11.330000  11.330000   56157
2020-03-27  11.330000  11.450000  11.060000  11.100000  11.100000   59088
...               ...        ...        ...        ...        ...     ...
2024-10-01  22.500000  23.070000  22.240000  22.969999  22.969999   55549
2024-10-02  23.000000  23.170000  22.459999  22.680000  22.680000   48872
2024-10-03  22.540001  23.340000  22.389999  23.240000  23.240000   56050
2024-10-04  23.299999  23.450001  22.730000  23.010000  23.010000   44713
2024-10-07  23.000000  23.139999  22.350000  22.459999  22.459999       0

[1145 rows x 6 columns]